.tutorial-show-page-grid-container {
  width: 90%;
  margin: 0 auto;
}


.header {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

h1.tutorial-header {
    margin: 14px 0;
}

a, a:hover {
  text-decoration: none;
  color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.center-top {
  display: flex;
  justify-content: center;
  align-items: center;
}


.img-container {
  height: 350px;
  max-width: 800px;
  margin: 0 auto;
}

.banner-image {
  background-size: cover;
  background-position: center;
  height: 100%;
}

.options-inner-container {
  display: flex;
  justify-content: space-between;
}


/* Leadtext and Description */

.description-lead {
  margin-top: 75px;
  font-size: 35px;

}

.description-text {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 75px;
  font-size: 24px;
}

.center-align {
  align-self: center;
}




