
.content-header {
  justify-content: space-between;
  margin-top: 30px;
  display: flex;

}

h1.tutorial-header {
    font-size: 3em;
    margin: 2.5em 0;
}

a, a:hover {
  text-decoration: none;
  color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.center-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image {
  background-size: cover;
  background-position: center;
  height: 100%;
}

.options-inner-container {
  display: flex;
  justify-content: center;
}

/* Leadtext and Description */

.description-container {
  margin-left: 10%;
}

.description-lead {
  margin-top: 75px;
  font-size: 35px;

}

.description-text {
  margin-top: 75px;
  font-size: 24px;
}

.center-align {
  align-self: center;
}

/* Category and Options */


.category {
  padding: 20px 40px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-top: 75px;
  margin-bottom: 10px;
  text-align: center;
}


