.tutorial-show-page-grid-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 350px auto;
}


.header {
  display: flex;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 9;
}

h1.tutorial-header {
    margin: 14px 0;
}

a, a:hover {
  text-decoration: none;
  color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.center-top {
  display: flex;
  justify-content: center;
  align-items: center;
}


.img-container {
  grid-column: 3 / span 5;
  grid-row: 2/3;
}

.banner-image {
  background-size: cover;
  background-position: center;
  height: 100%;
}

.options-inner-container {
  display: flex;
  justify-content: center;
}

/* Leadtext and Description */

.description-container {
  grid-column: 2/ span 6;
  grid-row: 3;
}

.description-lead {
  margin-top: 75px;
  font-size: 35px;
  grid-column: 1/3;
}

.description-text {
  margin-top: 75px;
  font-size: 24px;
  grid-column: 5/8;
}

.center-align {
  align-self: center;
}

/* Category and Options */


.category {
  padding: 20px 40px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-top: 75px;
  margin-bottom: 10px;
  text-align: center;
}


