<div class="video-modal2">
  <div id="inside-modal">
    <div id="ytplayer"></div>
  </div>
</div>

<!-- added style temporarily here -->

<style>
  .video-modal2 {
    display: none;
    top: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
  }

  .inside-modal {
    width: 80%;
    height: 60%;
  }
</style>

<!-- style ends here
 -->

<script>
  const video_id = "<%= @tutorial.video_id %>";
  var w = window.innerWidth * 0.9;
  var h = window.innerHeight * 0.75;
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      height: h.toString(),
      width: w.toString(),
      videoId: video_id
    });
  }

  const videoButtons = document.querySelectorAll(".basic-open-video");
  const outsideModal = document.querySelector(".video-modal2");

  outsideModal.addEventListener("click", (event) => {
    outsideModal.style.display = "none";
  })

  videoButtons.forEach((videoButton) => {
    videoButton.addEventListener("click", (event) => {
      outsideModal.style.display = "flex";
    })
  })

  console.log(video_id);
</script>
