<div class="container">
  <div class="index-grid-container">
    <% @tutorials.each do |tut| %>
    <div class="box">
      <div class="card-container">
        <div class="card">
          <div class="card-left">
            <div class="image" style="background-image: url(<%= tut.image_link %>)" ></div>
          </div>
          <div class="card-right">
            <div class="card-text">
                <span class="category-tag"><%= tut.category.capitalize %></span>
              <h4><%= tut.title %></h4>
            </div>
          </div>
          <div class="card-action center btn-black">
            <%= link_to "View Tutorial", tutorial_path(tut) %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

