.banner {
  margin: 0 5%;
  height: 50vh;
  background-size: cover;
  background-repeat: none;
  color: #fff;
  display: flex;
  align-items: flex-end;
  text-shadow: 0 10px 100px rgba(0,0,0,0.8);
  h1 {
    font-size: 4.5em;
  }
}

#home-banner {
  height: 75vh;
}

.banner-container {
  margin-left: 20%;
  margin-bottom: 20%;
}
